{% load static %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ title }}</title>
  <link href="{% static 'css/main.css' %}" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href = "{% static 'img/favicon.svg' %}">
    <script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.6/dist/htmx.min.js" integrity="sha384-Akqfrbj/HpNVo8k11SXBb6TlBWmXXlYQrCSqEWmyKJe+hDm3Z/B2WVG4smwBkRVm" crossorigin="anonymous"></script>
</head>
<body>
  <header>
    <div class="logo">
      <h1><a href = "{% url 'allproducts' %}">tstore:</a></h1>
    </div>
  {% if cat_sort %}
        <div class = "search-line">
        <form method="post" action="{% url 'search_products_in_category' cat_id %}">
            {% csrf_token %}
                <p class="search">{{ search_form.search_field }}<input type="submit" value="🔍"></p>
        </form>
        </div>
    {% else %}
        <div class = "search-line">
            <form method="post" action="{% url 'searchproducts' %}">
                {% csrf_token %}
                    <p class="search">{{ search_form.search_field }}<input type="submit" value="🔍"></p>
            </form>
        </div>
    {% endif %}
    {% if user.is_authenticated %}
      <div class="top-cart">
        <a href="{% url 'cart' %}"><img src="{% static "img/free-icon-shopping-cart-711897.png" %}">
        {% if products_in_cart <= 99 and products_in_cart > 0%}
            <div class="schetchik">
                <p>{{ products_in_cart }}</p>
            </div>
        {% endif %}
        {% if products_in_cart > 99 %}
            <div class="schetchik">
                <p>99</p>
            </div>
        {% endif %}
        </a>
      </div>
        <div class="profile-img">
      <a href="{% url 'profileupdate' %}"><img src="{% static "img/free-icon-user-profile-2734847.png" %}"></a>
    </div>
    {% else %}
    <div class="header-block login">
      <a href="{% url 'login' %}">Войти/Зарегистрироваться</a>
    </div>
    {% endif %}
  <nav class="categories">
    <div class="category">
        <a href="{% url 'allproducts' %}">Каталог</a>
    </div>
    {% for category in categories %}
        <div class="category">
            <a href="{% url 'showcategoryproducts' category.id %}">{{ category.name }}</a>
        </div>
    {% endfor %}
  </nav>
  </header>
  {% block content %} {% endblock %}
</body>
</html>