{% load static %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ title }}</title>
  <link href="{% static 'css/main.css' %}" rel="stylesheet">
</head>
<body>
  <header>
    {% if user.is_authenticated %}
      <p>{{ user.username }}</p>
      <button><a href="{% url 'cart' %}">Корзина</a></button>
      <button><a href="{% url 'profileupdate' %}">Личный кабинет</a></button>
      <button><a href="{% url 'logout' %}">Выйти</a></button>
    {% else %}
      <button><a href="{% url 'login' %}">Войти</a></button>
      <button><a href="{% url 'registration' %}">Зарегистрироваться</a></button>
    {% endif %}
  </header>
  <nav class="categories">
    <button class ="category"><a href="{% url 'allproducts' %}">Каталог</a></button>
    {% for category in categories %}
        <button class="category"><a href="{% url 'showcategoryproducts' category.id %}">{{ category.name }}</a></button>
    {% endfor %}
  </nav>
  {% block content %} {% endblock %}
</body>
</html>