{% extends 'products/base.html' %}
{% load static %}
{% block content %}
    <main>
        <div class ="products">
    {% for product in products %}
        <div class="product">
            <div class="div_above_the_image">
                <p></p>
            </div>
            <div class="div_product_image">
                <img class="product_image" src="{{ product.image.url }}"/>
            </div>
            <div class="product_toptext">
                <a class="product_name" href="{% url 'productdetail' product.id %}"><p>{{ product.name }}</p></a>
            </div>
            <div class ="product_bottext">
                <p class="price-text">{{ product.price }} ₽</p>
                <div class="buy-btn">
                    <form action="{% url 'addproduct' product.id %}" method="post">
                    {% csrf_token %}
                    {{ cart_product_form.quantity }}
                <input type="submit" value="В корзину">
            </form>
                </div>
            </div>
       </div>
    {% endfor %}
        </div>
    </main>
{% endblock %}
