{% extends 'products/base.html' %}
{% load static %}
{% block content %}
<button><a href = "{% url 'allproducts' %}">Назад</a></button>
<div class="product-detail">
    <div class="product-detail-top">
        <div class="product-detail-left">
            <div class="product-detail-left-div-for-img">
                <img src="{{ product.image.url }}">
            </div>
            <div class="product-detail-other-images">
            {% for product_image in product_images %}
                <div class="product-detail-other-image">
                    <img class="product-image" src="{{ product_image.big_image.url }}"/>
                </div>
            {% endfor %}
            </div>
        </div>
        <div class="product-detail-right">
            <h1 class="product-detail-name">{{ product.name }}</h1>
            <p class="product-detail-category">Категория: {{ product.category.name }}</p>
            <p class="product-detail-description">{{ product.description }}</p>
            <div class="product-detail-price-buy">
              <p class="product-detail-price">{{ product.price }} ₽</p>
                <div class="product-detail-buy-btn">
                    <form action="{% url 'addproduct' product.id %}" method="post">
                   {% csrf_token %}
                   {{ cart_product_form.quantity }}
                   <input type="submit" value="В корзину">
              </form>
                </div>
            </div>
        </div>
    </div>
    <div class="product-characteristics">
        {% for character in product_characteristics %}
            <p>{{ character.name }} : {{ character.text }}</p>
        {% endfor %}
    </div>
</div>
{% endblock %}