.product{
    display: inline-block;
    margin: 20px;
    width: 600px;
    height: 700px;

}
.categories{
    height: 60px;
}
.category{
    float: left;
}

.product_image{
    width: 500px;
    height: 500px;
}